/*******************
 *check and radio  *
 *******************/
/* draw regular check and radio items using our assets */
checkbutton {
    -gtk-icon-source: url("assetscheckbuttonbox-ucheckbutton.png");
}

checkbutton:disabled {
    -gtk-icon-source: url("assetscheckbuttonbox-ucheckbutton-insensitive.png");
}

checkbutton:active,
checkbutton checkbutton {
    -gtk-icon-source: url("assetscheckbuttonboxcheckbutton.png");
}

checkbutton:active:disabled,
checkbutton checkbutton:disabled {
    -gtk-icon-source: url("assetscheckbuttonboxcheckbutton-insensitive.png");
}

checkbutton:indeterminate {
    -gtk-icon-source: url("assetscheckbuttonbox-mixed.png");
}

checkbutton:indeterminate:disabled {
    -gtk-icon-source: url("assetscheckbuttonbox-mixed-insensitive.png");
}

radiobutton {
    -gtk-icon-source: url("assetsradiobutton-unselected.png");
}

radiobutton:disabled {
    -gtk-icon-source: url("assetsradiobutton-unselected-insensitive.png");
}

radiobutton:active,
radiobutton checkbutton {
    -gtk-icon-source: url("assetsradiobutton-selected.png");
}

radiobutton:active:disabled,
radiobutton checkbutton:disabled {
    -gtk-icon-source: url("assetsradiobutton-selected-insensitive.png");
}

radiobutton:indeterminate {
    -gtk-icon-source: url("assetsradiobutton-mixed.png");
}

radiobutton:indeterminate:disabled {
    -gtk-icon-source: url("assetsradiobutton-mixed-insensitive.png");
}

.menuitem checkbutton,
.menuitem checkbutton:disabled {
    -gtk-icon-source: none;
}

.menuitem checkbutton:active,
.menuitem checkbutton checkbutton {
    -gtk-icon-source: url("assets/menuitem checkbuttonboxcheckbutton.png");
}

.menuitem checkbutton:active:hover,
.menuitem checkbutton checkbutton:hover {
    -gtk-icon-source: url("assets/menuitem checkbuttonboxcheckbutton-hover.png");
}

.menuitem checkbutton:active:disabled,
.menuitem checkbutton checkbutton:disabled {
    -gtk-icon-source: url("assets/menuitem checkbuttonboxcheckbutton-insensitive.png");
}

.menuitem checkbutton:indeterminate:hover,
.menuitem radiobutton:indeterminate:hover {
    -gtk-icon-source: url("assets/menuitem checkbuttonbox-mixed-hover.png");
}

.menuitem checkbutton:indeterminate,
.menuitem radiobutton:indeterminate {
    -gtk-icon-source: url("assets/menuitem checkbuttonbox-mixed.png");
}

.menuitem checkbutton:indeterminate:disabled,
.menuitem radiobutton:indeterminate:disabled {
    -gtk-icon-source: url("assets/menuitem checkbuttonbox-mixed-insensitive.png");
}

.menuitem radiobutton,
.menuitem radiobutton:disabled {
    -gtk-icon-source: none;
}

.menuitem radiobutton:active,
.menuitem radiobutton checkbutton {
    -gtk-icon-source: url("assets/menuitem radiobutton checkbutton.png");
}

.menuitem radiobutton:active:hover,
.menuitem radiobutton checkbutton:hover {
    -gtk-icon-source: url("assets/menuitem radiobutton checkbutton-hover.png");
}

.menuitem radiobutton:active:disabled,
.menuitem radiobutton checkbutton:disabled {
    -gtk-icon-source: url("assets/menuitem radiobutton checkbutton-insensitive.png");
}

/*******************
 * backdrop states *
 *******************/
checkbutton:active:backdrop,
checkbutton row:selected:active:backdrop,
checkbutton row:selected:focus:active:backdrop {
    -gtk-icon-source: url("assetscheckbuttonboxcheckbutton-backdrop.png");
}

checkbutton:active:disabled:backdrop,
checkbutton row:selected:active:disabled:backdrop,
checkbutton row:selected:focus:active:disabled:backdrop {
    -gtk-icon-source: url("assetscheckbuttonboxcheckbutton-insensitive.png");
}

checkbutton:indeterminate:backdrop,
checkbutton row:selected:indeterminate:backdrop,
checkbutton row:selected:focus:indeterminate:backdrop {
    -gtk-icon-source: url("assetscheckbuttonbox-mixed-backdrop.png");
}

checkbutton:indeterminate:disabled:backdrop,
checkbutton row:selected:indeterminate:disabled:backdrop,
checkbutton row:selected:focus:indeterminate:disabled:backdrop {
    -gtk-icon-source: url("assetscheckbuttonbox-mixed-insensitive.png");
}

radiobutton:active:backdrop,
radiobutton row:selected:active:backdrop,
radiobutton row:selected:focus:active:backdrop {
    -gtk-icon-source: url("assetsradiobutton-selected-backdrop.png");
}

radiobutton:active:disabled:backdrop,
radiobutton row:selected:active:disabled:backdrop,
radiobutton row:selected:focus:active:disabled:backdrop {
    -gtk-icon-source: url("assetsradiobutton-selected-insensitive.png");
}

radiobutton:indeterminate:backdrop,
radiobutton row:selected:indeterminate:backdrop,
radiobutton row:selected:focus:indeterminate:backdrop {
    -gtk-icon-source: url("assetsradiobutton-mixed-backdrop.png");
}

radiobutton:indeterminate:disabled:backdrop,
radiobutton row:selected:indeterminate:disabled:backdrop,
radiobutton row:selected:focus:indeterminate:disabled:backdrop {
    -gtk-icon-source: url("assetsradiobutton-mixed-insensitive.png");
}
